
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    max-width: 998px;
    margin: 0 auto;
}

thead th {
    border-bottom-width: 3px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}